	* {
		box-sizing: border-box;
		font-family: sans-serif;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
	}

#landing {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top:0; left: 0;
	text-align: center;
}

#landing a {
	line-height: 2em;
}